%h1= @user.email

- if @user.chat.rooms.any?
  %ul
    - @user.chat.rooms.each do |room|
      %li
        = room.subject
        = link_to 'Edit', edit_room_path(room)
        = link_to 'Show', room

%p
  Create your first chat room
  = link_to "Here", new_room_path
