%h1 Room

%h2 Talking about #{@room.subject}

%h3 People
%ul
  - @room.users.each do |user|
    %li= user.email

%h3 Messages
- @messages.each do |message|
  %p= message.body


= form_for [@room, Message.new] do |f|
  = f.text_field :body
  = f.submit 'Send'
