= content_for :js do
  :javascript
    $(function () {
      var feed = new MessagesFeed();
      feed.room_id = "#{params[:id]}";

      var feedView = new FeedView( {collection: feed} );
      feedView.setElement('#feed');

      feed.start();

      // export the feed
      window.feed = feed;
    });

%h1 Room

%h2 Talking about #{@room.subject}

%h3 People
%ul
  - @room.users.each do |user|
    %li= user.email

%h3 Messages
#feed
  - @messages.each do |message|
    %p= message.body

= form_for [@room, Message.new] do |f|
  = f.text_field :body
  = f.submit 'Send'
