= content_for :js do
  :javascript
    $(function () {
      var feed = new MessagesFeed();
      feed.room_id = "#{params[:id]}";
      feed.pollTimeout = "#{Rails.env.test? ? 50 : 2000}";

      $('#stop-polling').click(function ( e ) {
        e.preventDefault();
        feed.stop();
      });

      feed.reset(#{@messages.map{|m| {id: m.id, body: m.body,created_at: m.created_at} }.to_json });

      var feedView = new FeedView( {collection: feed} );
      feedView.setElement('#feed');
      feedView.render();

      var messageForm = new MessageForm( {el: '#message-form'} );

      feed.start();
      window.feed = feed;
    });

%h1 Room

%h2 Talking about #{@room.subject}

%h3 People
%ul
  - @room.users.each do |user|
    %li= user.email

= link_to 'Stop Polling', '#', id: 'stop-polling'

%h3 Messages

#feed


= form_for [@room, Message.new], html: { id: 'message-form' } do |f|
  = f.text_field :body
  = f.submit 'Send'
