!!!5

%html
  %head
    %title Embed your chat anywhere.
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    = yield
    = content_for :js
